.page-header {
    height:90px;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 100;
    transition:0.5s all;
}
.page-header-fixed {
    background: #000;
    box-shadow: 0 1px 3px rgba(#000, 0.5);
}
.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100%;
}
.page-logo {}
.page-logo-img {
    max-width: 125px;
}

@media (max-width:760px) {
    .page-header {
        height: 120px;
    }
    .page-logo {
        margin-top:20px;
        margin-bottom:20px;
    }
    .page-header .container {
        padding:20px 0;
        flex-direction:column;
    }
}